
body {
    font: 16px "Gothic", Futura, sans-serif;
    margin: 10px;
    background: rgb(107, 107, 107);
    /* color: white; */
    /* color: pink; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/

}


h1{
  text-align: center;
}
.grid-container{
  margin: auto;
  width: 500px;
  height: 550px;
  display:grid;
  grid-template-columns: auto 179px 170px;
  /* align-content: center; */
  border: 5px solid #025172;
  background-color: #025172;
  /* align-content: center; */
}
 .grid-item {
  /* border: 5px solid #025172; */
  border: 3px solid pink;
 /*  background-color: indianred;
  text-align: left; */
 }

/* ************************* */  

/* /* this is .group on the other one 
#waiver15{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* this is label in other 
#cb1 {
  position: relative;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
}

#cb1:before{
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: 0.3em;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  /*color below is for the outline of the checkbox
  border: 2px solid black;
  border-radius: .25em;
  z-index: -1;
}

/*Checkbox checked
#cb1:checked + #cb1 {
  padding-left: 5px;
  color: black;
}

#cb1:checked + #cb1:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: black;
}
/*Transition
#cb1, #cb1::before {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
 */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #85808095;
  color: black;
} */


.grid-item.waiver {
  display: flex;
  align-items: center;
}
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.waiverLabel {
  position: relative;
  margin-top: 10px;
  margin-right: 1em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;
  cursor: pointer;
  color: white;
}
.waiverLabel:before {
  box-sizing: border-box;
  content: " ";
  position: absolute;
  top: auto;
  left: 0;
  display: block;
  width: 1.4em;
  height: 1.4em;
  border: 2px solid black;
  border-radius: 0.25em;
  z-index: 1;
}
/* Checked */
input[type="radio"]:checked + .waiverLabel {
  padding-left: 1em;
  background: #99050abf;
  color: white;
  border-radius: 0.25em;
  margin-bottom: 10px;
}
input[type="checkbox"]:checked + .waiverLabel {
  padding-left: 1em;
  background: #99050abf;
  color: white;
  border-radius: 0.25em;
  margin-bottom: 10px;
}
input[type="radio"]:checked + .waiverLabel:before {
  width: 100%;
  height: 2em;
}
input[type="checkbox"]:checked + .waiverLabel:before {
  width: 100%;
  height: 2em;
}
/* Transition */
.waiverLabel, .waiverLabel::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* ************************** */





.label{
  margin-top: 30px;
  float: right;
  color: whitesmoke;
  font-weight: bolder;
}




.input {
  /* text-align: center; */
  float: left;
}

.input{
  margin-top: 25px;
  padding: 9px; 
  border: solid 1px #282f8a; 
  outline: 0; 
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #59abb9), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #59abb9 1px, #FFFFFF 25px); 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  border-radius:13px;
  width:150px;
}

/* I need the boxes smaller for time that is why there are two inputs */
.inputTime{
  padding: 9px; 
  margin-top: 25px;
  border: solid 1px #282f8a; 
  outline: 0; 
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #59abb9), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #59abb9 1px, #FFFFFF 25px); 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  border-radius:13px;
  width:62px;
}

.walkTime{
  padding: 9px; 
  margin-top: 25px;
  border: solid 1px #5e5959; 
  outline: 0; 
  /*background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #59abb9), to(#FFFFFF)); */
  background: #5e5959; 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  border-radius:13px;
  width:62px;
}

.waiverCheckedInput{
  margin-top: 25px;
  padding: 9px; 
  border: solid 1px #5e5959; 
  outline: 0; 
  /* background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #59abb9), to(#FFFFFF)); */ 
  background: #5e5959; 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  border-radius:13px;
  width:150px;
}

#Gender-Select{
  padding: 9px; 
  margin-top: 25px;
  /* border: solid 1px #282f8a; */ 
  outline: 0; 
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #025172), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #59abb9 1px, #FFFFFF 25px); 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  border-radius:13px;
  width:173px;

}

/* Waiver both the text and the boxes - not working for some reason*/
/* #9,#12,#15{
  margin-top: 10px;
  float: right;
} */

/* #waiver9, #waiver12, #waiver15{
  float: right;
  text-align: right;
  color: black;
} */

#SubmitBtn{
  padding:20px 60px;
  outline: none;
  background-color: #2771ae;
  border: none;
  border-radius:5px;
  box-shadow: 0 9px #95a5a6;
}

#SubmitBtn:hover{
  background-color: #1d5f96;
}

#SubmitBtn:active {
  background-color: #1d5f96;
  box-shadow: 0 5px #95a5a6;
  transform: translateY(4px);
}
/* #waiver15{
  display: flex;
  align-items: center;
  margin-bottom: 2em;
} */
